@page
@model SlackBridge.Web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post" class="col-lg-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" />
    </div>
    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
    <p class="text-muted mt-3 mb-0">
        New to Slack Bridge?
        <a asp-page="/Account/Register">Create an account</a>.
    </p>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
